In [2]:
from minio import Minio
import pandas as pd
from io import StringIO

client = Minio(
    "172.21.0.2:9000",
    access_key="minio",
    secret_key="minio123",
    secure=False)

In [3]:

#data_order_items = obj_order_items.read()

client.fget_object('processing', 'olist_orders.parquet', 'temp_.parquet')
df_order = pd.read_parquet("temp_.parquet")

client.fget_object('processing', 'olist_order_items.parquet', 'temp_.parquet')
df_order_items = pd.read_parquet("temp_.parquet")

client.fget_object('processing', 'olist_customers.parquet', 'temp_.parquet')
df_customers = pd.read_parquet('temp_.parquet')


client.fget_object('processing', 'olist_geolocation.parquet', 'temp_.parquet')
df_geolocalization = pd.read_parquet('temp_.parquet')

client.fget_object('processing', 'olist_products.parquet', 'temp_.parquet')
df_products = pd.read_parquet('temp_.parquet')

In [4]:
df_order_items_merge = pd.merge(df_order,df_order_items, on="order_id")

In [ ]:
df_order_items_merge.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_year,order_purchase_month,...,delivered_customer_date,order_purchase_hour,order_purchase_time_day,order_delivered_customer_hour,order_delivered_customer_time_day,quantity,product_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,20171010,10,Morning,21,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018,7,...,20180807,20,Night,15,Afternoon,1,595fac2a385ac33a80bd5114aec74eb8,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018,8,...,20180817,8,Morning,18,Afternoon,1,aa4383b373c6aca5d8797843e5594415,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017,11,...,20171202,19,Night,0,Dawn,1,d0b61bfb1de832b15ba9d266ca96e5b0,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018,2,...,20180216,21,Night,18,Afternoon,1,65266b2da20d04dbe00c5c2d3bb7859e,2018-02-19 20:31:37,19.90,8.72

In [ ]:
df_customers

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,13056,campinas,SP
...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP

In [5]:
df_geo_cordenates = df_geolocalization[['geolocation_zip_code_prefix',
                                          'geolocation_lat',
                                          'geolocation_lng']]

In [6]:
df_clients_geographical = pd.merge(df_customers,df_geo_cordenates, right_on='geolocation_zip_code_prefix', left_on='customer_zip_code_prefix')

In [ ]:
df_clients_geographical

,customer_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,14409,-20.509898,-47.397866
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,14409,-20.497396,-47.399241
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,14409,-20.510459,-47.399553
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,14409,-20.480940,-47.394161
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,14409,-20.515413,-47.398194
...,...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,74980,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,74980,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,74980,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,99043,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,99043,-28.226596,-52.467505

In [7]:
df_clients_geographical.drop(columns=['customer_zip_code_prefix', 'geolocation_zip_code_prefix'], inplace=True)

In [8]:
df = pd.merge(df_order_items_merge, df_clients_geographical, on='customer_id')

In [ ]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_year,order_purchase_month,...,order_delivered_customer_time_day,quantity,product_id,shipping_limit_date,price,freight_value,customer_city,customer_state,geolocation_lat,geolocation_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72,sao paulo,SP,-23.574809,-46.587471
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72,sao paulo,SP,-23.578333,-46.587123
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72,sao paulo,SP,-23.574809,-46.587471
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72,sao paulo,SP,-23.575033,-46.587451
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017,10,...,Night,1,87285b34884572647811a353c7ac498a,2017-10-06 11:07:15,29.99,8.72,sao paulo,SP,-23.580054,-46.586673

In [9]:
df_products_filter = df_products[['product_id',
                                 'product_category_name',
                                 'product_photos_qty',
                                 'product_weight_g',
                                 'product_length_cm',
                                 'product_height_cm',
                                 'product_width_cm']]

In [10]:
del df_order
del df_order_items
del df_geolocalization
del df_customers
del df_geo_cordenates
del df_order_items_merge
del df_clients_geographical

In [12]:
list_to_category  = ['order_id',
                    'customer_id', 
                    'order_purchase_timestamp', 
                    'order_approved_at', 
                    'order_delivered_carrier_date', 
                    'order_delivered_customer_date',
                    'order_estimated_delivery_date',
                    'order_purchase_month_name',
                    'delivered_customer_month_name',
                    'order_purchase_time_day',
                    'order_delivered_customer_time_day',
                    'product_id',
                    'shipping_limit_date',
                    'customer_city']

for column in list_to_category:
    df[column] = df[column].astype('category')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16838343 entries, 0 to 16838342
Data columns (total 30 columns):
 #   Column                             Dtype
---  ------                             -----
 0   order_id                           category
 1   customer_id                        category
 2   order_purchase_timestamp           category
 3   order_approved_at                  category
 4   order_delivered_carrier_date       category
 5   order_delivered_customer_date      category
 6   order_estimated_delivery_date      category
 7   order_purchase_year                int64
 8   order_purchase_month               int64
 9   order_purchase_month_name          category
 10  order_purchase_year_month          int64
 11  order_purchase_date                int64
 12  delivered_customer_year            int64
 13  delivered_customer_month           int64
 14  delivered_customer_month_name      category
 15  delivered_customer_year_month      int64
 16  delivered_customer_date            int64
 17  order_purchase_hour                int64
 18  order_purchase_time_day            category
 19  order_delivered_customer_hour      int64
 20  order_delivered_customer_time_day  category
 21  quantity                           int64
 22  product_id                         category
 23  shipping_limit_date                category
 24  price                              float64
 25  freight_value                      float64
 26  customer_city                      category
 27  customer_state                     object
 28  geolocation_lat                    float64
 29  geolocation_lng                    float64
dtypes: category(14), float64(4), int64(11), object(1)
memory usage: 2.7+ GB

In [19]:
df.shape[0] /2

8419171.5

In [14]:
df_part_1 = df[:8419172]
df_part_2 = df[8419171:]

In [15]:
df_finaly_1 = pd.merge(df_part_1, df_products_filter, on='product_id')
df_finaly_2 = pd.merge(df_part_2, df_products_filter, on='product_id')

In [ ]:
 # Inner join entre data set order e order_intems
df_order_items_merge = pd.merge(df_order,df_order_items, on="order_id")

df_geo_cordenates = df_geolocalization[['geolocation_zip_code_prefix',
                                          'geolocation_lat',
                                          'geolocation_lng']]
    
df_clients_geographical = pd.merge(df_customers,df_geo_cordenates, right_on='geolocation_zip_code_prefix', left_on='customer_zip_code_prefix')
    
df_clients_geographical.drop(columns=[
        'customer_zip_code_prefix',
        'geolocation_zip_code_prefix'
        ],axis=1, inplace=True)

df = pd.merge(df_order_items_merge, df_clients_geographical, on='customer_id')
df_products_filter = df_products[['product_id',
                                    'product_category_name',
                                    'product_photos_qty',
                                    'product_weight_g',
                                    'product_length_cm',
                                    'product_height_cm',
                                    'product_width_cm']]


df = pd.merge(df_order_items_merge, df_clients_geographical, on='customer_id')

df_products_filter = df_products[['product_id',
                                 'product_category_name',
                                 'product_photos_qty',
                                 'product_weight_g',
                                 'product_length_cm',
                                 'product_height_cm',
                                 'product_width_cm']]
    
list_to_category  = ['order_id',
                    'customer_id', 
                    'order_status', 
                    'order_purchase_timestamp', 
                    'order_approved_at', 
                    'order_delivered_carrier_date', 
                    'order_delivered_customer_date',
                    'order_estimated_delivery_date',
                    'order_purchase_month_name',
                    'delivered_customer_month_name',
                    'order_purchase_time_day',
                    'order_delivered_customer_time_day',
                    'product_id',
                    'shipping_limit_date',
                    'customer_city']
    
del df_order
del df_order_items
del df_geolocalization
del df_customers
del df_geo_cordenates
del df_order_items_merge
del df_clients_geographical

for column in list_to_category:
    df[column] = df[column].astype('category')
    
df_part_1 = df[:8419172]
df_part_2 = df[8419171:]




df_finaly_1 = pd.merge(df_part_1, df_products_filter, on='product_id')
df_finaly_2 = pd.merge(df_part_2, df_products_filter, on='product_id')